img{
    width: 100px;
}

.healthBar{
    background-color: rgb(31, 211, 31);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 100px;
    padding-bottom: 30px;
    text-align: center; 
    font-size: 35px;
}

.status{
    padding-top: 30px;
}

.container {
    display: grid;
    padding-top: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, .5fr);
}

.container div{
    justify-content: space-around;
}

.bugMsg{
    display: none;
}

.container div:hover + .bugMsg{
    display: block;
    color:red; 
}

