body{
    background-color: aliceblue; 
}

img{
    width: 200px;
}

.healthBar{
    background-color: rgb(224, 218, 218);
    width: 1fr;
    border-radius: 100px;
    margin-left: 10%;
    margin-right: 10%;
}
.value{
    text-align: center;
    font-size: 40;
}
.status{
    background-color: rgb(31, 211, 31);
    border-radius: 100px;
    width: 100%;
}

.container {
    display: grid;
    padding-top: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, .5fr);
}

.container div{
    justify-content: space-around;
}

.bugMsg{
    color: rgb(223, 126, 34);
    width: 50%;
    text-align: center; 
}

